.hide {
    display: none;
}

.car,
.enemy {
    width: 50px;
    height: 100px;
    background: transparent url('./image/player.png') center / cover no-repeat;
    position: absolute;

}

.game__area {
    width: 300px;
    height: 100%;
    position: relative;
    margin: auto;
    background: #222;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 145px;
}

.game__start-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    text-align: center;
    z-index: 200;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;

}

.game__score {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 2rem 0;
    text-align: center;
    z-index: 200;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
    color: blanchedalmond;

}